p{
    color: #990101;
    font-size: x-large;
    font-weight: bold;
}

.pointer{
    display: flex;
    justify-content: space-around;
}

h3{
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
}


img{
    width: 90px;
}

button{
    background: none;
    border: none;
    outline: none;
    display: flex;
}

.resultGame{
    text-align: center;
    margin-right: 44px;
}

.container{
    position: relative;
}

.play{
    color: #990101;
    font-size: x-large;
    position: absolute;
    right: 600px;
}

.stop{
    color: #990101;
    font-size: x-large;
    position: absolute;
    right: 500px;
}