p{
    color: #990101;
    font-size: x-large;
    font-weight: bold;
}

.pointer{
    display: flex;
    justify-content: space-around;
}

h3{
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
}

img{
    width: 90px;
}

button{
    display: flex;
    background: none;
    border: none;
    outline: none;
}

.resultGame{
    text-align: center;
    margin-right: 44px;
}